.Wrapper{
    background-color: white;
    padding: 30px;
}

.container{
    max-width: 1200px;
    margin: 60px auto;
    /* margin: 80px 10px; */
    padding: 0 20px;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    padding-bottom: 20px;
    /* margin-bottom: 80px; */
}

.mainImg{
    width: 100%;
    height: 220px;
    object-fit:cover;
}

.meta{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 5px;
    color: #8A9CB5;
}

.title{
    padding: 0 20px;
    font-size: 18px;
    color: #1B3C74;
    margin: 10px 0 15px;
}

.author{
    display: flex;
    align-items: center;
    gap: 10px;
}

.author img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.author span{
    font-size: 14px;
    color: #1B3C74;
}