.container{
    padding: 30px;
    background:#FFF
}

.cardWrapper{
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 30px;
    margin-bottom: 50px;
    
}
.card{
    object-fit: contain;
    width: 320px;
    height: 250px;
}

.card img{
    margin-top: 100px;
    width: 100%;
    height: auto;
}