.container{
    padding: 80px 10px;
    text-align: center;
    background:#fff
}

.card{
    background: #fff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-8px);
}

.card img{
    width: 100%;
    height: 280px;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card h3{
    color:#1B3C74;
    margin-bottom: 5px;
}

.card p{
    color: #2AA7FF;
    font-weight: 500;
}

