body{
    background-color: #E7F0FF;
}

.footerStart{
    max-width: 1300px;
    margin: 0 auto;
    width: 60%;


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 60px 0 0 0;
    margin-bottom: 0;
}

.footerLeft{
    /* display: flex;
    gap: 20px; */
    position: relative;
    width: 320px;
    height: 520px;
}

.footerRight{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 450px;
}
.footerRight h1{
    font-size: 60px;
}

/* input Row */
.inputRow {
    display: flex;
    align-items: center;
    gap: 15px;
}

.phoneInput {
  display: flex;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow:hidden;
  /* align-items: center; */
}

.countryCode {
  width: 60px;
  padding: 10px;
  flex-shrink: 0;
  /* border: 1px solid #ccc; */
  border: none;
  /* border-right: none; */
  background-color: #f5f5f5;
  text-align: center;
  /* border-radius: 6px 0 0 6px; */
}

.phoneNumber {
  padding: 10px;
  /* border: 1px solid #ccc; */
  border: none;
  outline: none;
  flex: 1;
  border-radius: 0 6px 6px 0;
}

.smsBtn {
    padding: 10px 20px;
    background-color: #2AA7FF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    white-space: nowrap;
}

.storeButtons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.storeButtons img{
    height: 45px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.storeButtons img:hover{
    transform: scale(1.05);
}


.phone1{
    background-image: url("../assets/hero/image\ 2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.phoneBig{
    position: absolute;
    right:0;
    bottom: 0;
    width: 260px;
    z-index: 1;
}

.phoneSmall{
    position: absolute;
    left: 0;
    bottom: 0; /* lift is slightly*/
    width: 220px; /* smaller*/
    z-index: 2; /* appear above big phone*/
}

.footerInfo{
    background-color: #1B3C74;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*align top*/
    /* justify-content: center; center whole row */
    /* flex-wrap: wrap; for responsiveness */
    padding: 60px 0 30px 0;
}

.footerStart h1,
.footerStart h2,
.footerStart p {
  margin: 0;
}

.footerTop{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.footerBottom{
    width: 100%;
    max-width: 100%;
    margin-top: 40px;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.3);  /* divider line */
    text-align:center;
}

.footerBottom p{
    color: white;
    margin: 0;
}


/* .footerInfo ul{
list-style: none;
color: white;
} */

.footerInfo ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  column-gap: 80px;
  list-style: none;
  color: white;

  justify-content: center;
  padding: 0;

}



.footerInfo ul li{
    line-height: 2.8;
    position: relative;
    padding-left: 18px; /* space for arrow*/
}

.footerInfo ul li::before{
    content: ">" ;
    position: absolute;
    left: 0;
    color: #2AA7FF; 
    font-weight: bold;
}

@media (max-width: 768px) {
    .footerInfo{
        flex-direction: column;
        align-items: center;
    }
}


/* Reponsive */
@media (max-width: 992px){
    .footerStart {
        flex-direction: column;
        text-align: center;
    }

    .footerLeft{
        justify-content: center;
    }

    .footerRight{
        align-items: center;
    }

    .inputRow {
        flex-direction: column;
        width: 100%;
    }

    .smsBtn{
        width: 100%;
    }
}

