.header{
    text-align: center;
    font-weight: 700;
    background-color: #2AA7FF ;
    color: white;
    padding: 0.1em;
}

.hero{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 24px;
}

.hero button{
    background-color:#2AA7FF ;
    color: white;
    padding: 12px 36px;
    border-style: none;
    border-radius: 8px;
    width: 12%;
}

.section {
    position: relative;
    padding: 80px 0;
    overflow: hidden;
}

.heroImg{
position: absolute;
right: 8%;
bottom: 0;
width: 40%;
max-width: 500px;
}


.formContainer{
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
    padding: 45px 60px;
    text-align: center;
    background-color: white;
    box-shadow: 15px 5px 15px 15px rgba(0,0,0,0.08);
}

.formInp{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    /* margin-bottom: 10px; */
}

.formInp input{
    padding: 10px 30px;
    border-radius: 8px;
}

.inputbtn{
    padding: 5px 20px;
    border-radius: 10px;
}

.hTag{
    padding-top: 50px;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}

.card{
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.card img{
    width: 40%;
    height: 50%;
    object-fit: contain;
    border-radius: 8px;
    padding-top: 10px;
}

@media (max-width: 1024px) {
    .heroImg{
        width: 35%;
    }
}

@media (max-width: 768px) {
    .section{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .heroImg{
        position: static;
        width: 80%;
        margin-top: 30px;
    }
}