

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    max-width: 1300px;
    margin: 0 auto;  /*only works when max-width is set, top,right,bottom,left*/
    /*  margin:0 auto ; top=0 , right=auto , bottom=0 left=auto*/
}


.menu{
    display: flex;
    gap: 20px;
    margin-left: auto;
    justify-content:flex-end;
    cursor: pointer;
    /* padding: 0; */
}

.hamburger{
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.navbar ul li{
 list-style: none;
}

.navbar button{
    background-color :#2AA7FF;
    color:white;
    padding:8px; 
    border-style:none;
    border-radius:8px;
    cursor: pointer;
}

@media (max-width:768px){
    .navbar{
        padding: 10px 16px;
        position: relative;
    }

    .menu.active{
        display: flex;
    }

    .menu{
        display: none; /*hide menu on small screens*/
        position: absolute;
        top: 70px;
        right: 0;
        background:white;
        flex-direction: column;
        /* width: 100%; */
        padding: 20px;
        gap: 15px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    }

    .hamburger{
        display: block;
    }
}