

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    max-width: 1300px;
    margin: 0 auto;  /*only works when max-width is set, top,right,bottom,left*/
    /*  margin:0 auto ; top=0 , right=auto , bottom=0 left=auto*/
}


.menu{
    display: flex;
    gap: 20px;
    margin-left: auto;
    justify-content:flex-end;
    /* padding: 0; */
}

.navbar ul li{
 list-style: none;
}

.navbar button{
    background-color :#2AA7FF;
    color:white;
    padding:8px; 
    border-style:none;
    border-radius:8px;
    cursor: pointer;
}